@import url('https://fonts.cdnfonts.com/css/digital-numbers');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  background-color: #404040;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#calculator {
  width: 400px;
  height: 450px;
  background-color: #FFD700;
  padding: 10px;
}

#expression-display {
  text-align: end;
  line-height: 30px;
  font-size: 20px;
  font-family: 'Digital Numbers', sans-serif;
  color: black;
  background-color: #93C572;
  height: 30px; /* CHANGE TO PADDING */
  margin: 5px 5px 0 5px;
  border-radius: 5px 5px 0 0;
  padding: 0 5px 0 5px;
}

#display {
  text-align: end;
  line-height: 30px;
  font-size: 20px;
  font-family: 'Digital Numbers', sans-serif;
  color: black;
  background-color: #93C572;
  height: 30px; /* CHANGE TO PADDING */
  margin: 0 5px 5px 5px;
  border-radius: 0 0 5px 5px;
  padding: 0 5px 0 5px;
}

#calculator-pad {
  display: flex;
  flex-direction: row;
  height: 360px;
  padding: 5px;
}

#num-pad > button {
  border: 1px solid #FFD700;
  border-radius: 0;
}

#operator-pad {
  display: flex;
  justify-content: flex-end;
}

#operator-pad > button {
  width: 85%;
  border: 1px solid #FFD700;
  border-radius: 0;
}

#operator-pad > .big {
  font-weight: 650;
}

.footer {
  color: white;
  width: 50%;
  height: 25%;
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
}

#author-link {
  text-decoration: none;
  color: inherit;
}